.s-items .items .item .block-2
{
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    padding: 25px 25px 0 25px;
    background-color: var(--color-6);
}

.s-items .items .item .block-2 h6
{
    font-size: 1.1rem;
    color: var(--color-3);
}

.s-items .items .item .block-2 p
{
    font-size: 0.8rem;
    font-style: oblique;
    color: var(--color-4);
}
