.s-cart .container .items .block-1,
.s-cart .container .items .block-1 h2
{
    display: flex;
    align-items: center;
}

.s-cart .container .items .block-1
{
    width: 100%;
    gap: 25px;
}

.s-cart .container .items .block-1 h2
{
    flex: 1;
    font-size: 1.5rem;
    color: var(--color-4);
}

.s-cart .container .items .block-1 .btn
{
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 0px 10px 1px var(--color-5);
    border-radius: 30%;
    color: var(--color-4);
}

.s-cart .container .items .block-1 .btn:hover,
.s-cart .container .items .block-1 .btn.selected
{
    box-shadow: inset 0px 0px 10px 1px var(--color-5);
}